
@{
    ViewBag.Title = "MVC Webconfig den Dosya Okuma";
}

<h2>MVC Webconfig den Dosya Okuma</h2>
<p>
    Uygulamadaki web config dosyasına ayar ekleyip onu okumak için kullanırız.
</p>
<p>
    E mail kullanıcı adı : @ViewBag.Usr
    

</p>
<p>
    E mail şifre : @ViewBag.Pwd
</p>

